@import './variables';
.wrapper {
    position: relative;
    flex: 1;
}

.icon {
    position: absolute;
    top: 2px;
    left: 3px;
    color: rgba(255, 255, 255, .5);
}

.field {
    width: 100%;
    color: #fff;
    background-color: #1b1d21;
    border: 0;
    border-radius: 5px;
    outline: none;
    padding: $spacing-half $spacing-two;
    font-size: .8em;
    display: block;
    cursor: text !important;
    &:focus {
        background-color: $black-35;
    }
}

.clear {
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: 9px;
    right: 7px;
    border-radius: 50%;
    opacity: .5;
    font-size: 13px;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    &:before {
        content: "×";
        color: #000;
        opacity: .7;
    }
}

.results {
    background-color: #1b1d21;
    position: absolute;
    top: 28px;
    z-index: 8;
    width: 100%;
    border-radius: 0 0 6px 6px;
    ul {
        overflow-y: auto;
        overflow-x: hidden;
        list-style: none;
        max-height: 400px;
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: 12px;
            color: #fff;
            border-bottom: 1px solid #24272c;
            &.nothingFound {
                font-size: 14px;
                text-align: center;
            }
            &:last-child {
                border: 0;
            }
            &:hover {
              background-color: #1f2227;
              cursor: pointer;
            }
            p {
                font-size: 12px;
                margin: 0;
                color: #4b515c;
            }
        }
    }
}
